body{
	background-color:  #ec8c29;
	color: #7b7e82;
	font-family:sans-serif;
}

a{
	color: #ec8c29;
	text-decoration:none;
}

header{
	width:864px;
	margin-bottom: 30px; 
	background-color: #fbfbfb;
	margin: 20px;
	padding: 10px;
}



.content{
	width:864px;
	margin-bottom: 30px;
	background-color: #fbfbfb;
	height: 500px;
	margin: 20px;
	

}
main{
	border-top:1px solid #dfdfe0;
	padding: 20px;
    width: 65%;
	height: 100%;
}
main .speci { 
	color: #b7b1b0;
}
h2 { 
	color : #ec8c29;
}
aside {
    width: 30%;
	padding-top: 40px;
    padding-left: 10px;
    float: right;
	height: 460px;
    box-shadow: inset 5px 0 5px -5px #29627e;
	background-color: #f7f7f7;
	color: #847e7d ;
	;
}


footer{
	width:864px;
	color: #fbfbfb;
	font-size: 0.8em;
	margin: 20px ;
	
}
